:root{
    --black:#0f0f0f;
    --dark-grey:#272727;
    --red:#d80202;
    --light-gray:#333333;
}

*{
    margin:0px;
    padding:0px; 
    font-family: "Roboto", sans-serif;
    color: white;
}
body{
  background-color: var(--black);
}
.top{
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  position: fixed;
  height: 130px;
  top: 0;
  left:0;
  right: 0;
  gap: 10px;
}
.main{
  display: flex;
  flex-direction: row;
}
.suggestions{
  align-self: center;
  display: flex;
  gap:20px;
  flex-wrap: wrap
  
}
.video-panel{

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 90vw;
  margin-left: 250px;
  margin-top: 130px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
}
.container{
  display: grid;
  grid-gap: 20px 20px;
  width: 88vw;
  grid-template-rows: repeat(1,200px);
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 200px;
  margin-right: 50px;
}
.shorts{
  display: grid;
  width:88vw;
  grid-gap: 20px 20px;
  grid-template-rows: repeat(1,minmax(400px,500px));
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 500px;
}
.items{
  background-color: #d80202;
  border-radius: 8px;
}
.items-short{
 
  background-color: #d80202;
  border-radius: 8px;
}

.side-nav{
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: fixed;
    margin-top:80px;
    font-size: 15px;
    height: 100vh;
    width: 220px;
    background-color: var(--black);
}
.side-bar{
    margin-left: 20px;
    margin-right: 40px;
    padding: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.icons,.you{
    width:25px;
}

.show-more,.you{
  width:15px;
  margin-left: 6px;
}
.channel-text{
  margin-left: -17px;
}
.side-bar:hover{
  background-color: var(--light-gray);
  border-radius: 5px;
}
.side-bar:hover .icons{
  background-color: var(--light-gray);
  border-radius: 5px;
}
.line{
    width: 190px;
    margin-top: 12px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(78, 78, 78, 0.644);
    }

.header{
    /* position: fixed; */
    display: flex;
    /* top: 0;
    left: 0;
    right: 0;
    height: 80px; */
    justify-content: space-between;
    background-color: var(--black);
   
}
.left-menu,.center-menu,.right-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.menu-icon{
    width: 20px;
    align-self: center;
    margin: 20px;
    padding: 10px;
}
.menu-icon:hover{
    background-color: var(--light-gray);
    border-radius: 100%;
}
.youtube-icon{
    width: 100px;
    margin-left: 5px;
    align-self: center ;
}
.region{
    color: rgb(163, 163, 163);
    margin-top:13px;
    margin-left: 2px;
    font-size: 10px ;
   align-self: flex-start;
}
.search-bar{
    width: 400px;
    margin-top: 10px;
    
  line-height: 56px;
  position: relative;
  
}
input[type="text"] {
    font-size: 15px;
    width: 500px;
    height: 40px;
    padding: 0 10px;
    color: #000;
    border: 1px solid #3f3f3fb0;
    background-color:rgb(20, 20, 20);
    border-radius: 20px 0 0 20px;
    z-index: 2
  }
  input[type="text"]:focus  {
    border: 1.1px solid #1520bb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
  }

  .search {
    margin-top: 10px;
    width: 50px;
    height: 42px;
    border: 1px solid rgba(78, 78, 78, 0.281);
    border-left: 0;
    
    border-radius: 0px 20px 20px 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background-color: #252525;
  }
  .mic{

    margin-top: 10px;
    border-radius: 100%;
    border: 1px solid rgba(78, 78, 78, 0.281);
    margin-left: 20px;
    background-color: #252525;
    width: 42px;
    height: 42px;
  }
  .microphone{
    width: 22px;
  }
  .profile{
    width:30px;
    border-radius: 100%;
    margin-right: 20px;
  }
  .create{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
  }
  .notification{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 15px;
    align-self: center;
  }
  
.right-menu .right:hover{
  background-color: var(--light-gray);
  border-radius: 100%;

}
  .search svg,.mic .microphone {
    background-color: #252525;;
   
  }
  
  
  .search:hover, .mic:hover{
    background-color: var(--light-gray);
    box-shadow: 0 1px 1px rgba(0,0,0,.15),
      inset 0 0 2px rgba(0,0,0,.05);

  }
  .search:hover svg {
    background-color: var(--light-gray);

  }
  .mic:hover .microphone{
    background-color: var(--light-gray);

  }